*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html{
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #f3f8f9;
  font-family: 'Open Sans', sans-serif;
}

.container{
  max-width: 114rem;
  margin: 5rem auto auto auto;
}

@media only screen and (max-width: 37.5em){

  .container{
    width: 100%;
    margin: auto;
  }
}