.header{
  background-color: #fff;
}


.logout{
  //display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 2rem;

  &__button{

    &:link, &:visited{
      text-decoration: none;
      text-transform: uppercase;
      padding: .8rem 2.5rem;
      border: 1px solid #3E9CE6;
      color: #3E9CE6;
      margin-left: auto;
      border-radius: 3px;
      font-weight: 600;
    }
  }
}

.upload{
  //display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cecdcd;
  margin-bottom: 1rem;

  &__button{
    border: 1.5px solid #cecdcd;
    font-size: 1.4rem;
    font-weight: 600;
    padding: .1rem 2rem;
    //display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;

    & > span{
      font-size: 2.5rem;
      margin-right: 2.5rem;
    }
  }

  &__button-text{

  }
}

.user{
  //display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;

  margin-top: -4rem;

  &__details-wrapper{
    //flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    //display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 2.5rem;
    color: #8b8b8b;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: flex-end;
    align-self: flex-end;
  }

  &__photo-box{
    width: 18rem;
    height: 18rem;
    background-image: url("../img/profile_image.jpg");
    background-size: 175%;
    background-position: top right -4rem;

    transform: translateY(3.5rem);
    box-shadow: 0 0 5rem rgba(#000, .3);
  }

  &__name{
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  &__location{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    order: 3;

    //display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;

    &-icon{
      padding-right: .4rem;
      font-size: 2rem;
    }
  }

  &__phone{
    font-size: 1.4rem;
    margin-bottom: 1rem;

    //display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;

    &-icon{
      padding-right: .4rem;
      font-size: 2rem;
    }
  }


  &__rate{
    //display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //align-self: flex-start;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: flex-start;
    align-self: flex-start;
  }

  &__rate-icon{

    & .icon{
      font-size: 2rem;
    }
  }

  &__rate-review{
    font-size: 1.4rem;
    word-spacing: 1rem;
    margin-left: 2.5rem;
  }
}

.nav{
  border-top: 1.5px solid #ecf1f5;
  //display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  &__list{
    margin-left: 20rem;
    //display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    //align-self: stretch;

    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;

    overflow: hidden;
  }

  &__item{
    padding: 0 3rem;
  }

  &__link{

    &:link, &:visited{
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.4rem;
      height: 100%;
      //display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 0;
      color: #717579;
    }

    &--active{
      border-bottom: 1.5px solid #3E9CE6;
    }
  }

  &__followers{
    font-size: 1.4rem;
    margin-right: 2rem;
    //margin-left: auto;
    //display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icon{
      color: #b6b6b6;
      font-size: 2.5rem;
      margin-right: 1rem;
    }
  }
}


.content{
  margin-top: 3rem;
  height: 50rem;
  background-color: white;
  padding: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.heading{
  &__list{display: none}

  &__text{
    padding-bottom: 3rem;
    font-size: 1.8rem;
    font-weight: 400;
  }

  &__edit-icon{
    display: none;
  }
}

.about{
  position: relative;

  &__list{
    list-style: none;
    display: block;
    color: #5f6467;
  }

  &__item{

    //display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: .1rem;

    & .icon{
      font-size: 2rem;
      background-color: #f5f7f9;
      //align-self: stretch;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      //display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content:center;
      align-items: center;
      padding-left: .5rem;

    }

    & .ion-edit{
      font-size: 1.8rem;
      padding: 1rem 1.2rem;
      background-color: #e6ebf0;

      &:hover{
        background-color: #3E9CE6;
        color: #ffffff;
        transition: all .5s;
      }
     }

    &-name{
      font-size: 1.4rem;
      font-weight: 600;
      padding: .1rem 2rem .1rem .6rem;
      background-color: #f5f7f9;
      //align-self: stretch;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      //display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content:center;
      align-items: center;
    }

    &-phone, &-site, &-location{
      font-size: 1.4rem;
      padding: .1rem 1.2rem .1rem .5rem;
      //align-self: stretch;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      //display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content:center;
      align-items: center;
      background-color: #f5f7f9;
    }
  }
}

.form{
  display: none
}

.popup{
  background-color: #cccccc;
  -moz-box-shadow: 0 0 4rem #ccc;
  -webkit-box-shadow: 0 0 4rem #ccc;
  box-shadow: 0 0 4rem #ccc;
  display: none;
  position: absolute;
}

.popup-form{
  margin-left: -1.4rem;
  display: block;
  background-color: white;
  width: 35rem;
  padding: 2.3rem 2rem 2rem 4rem;

  -webkit-clip-path: polygon(100% 0, 100% 100%, 4% 100%, 4% 27%, 0 21%, 3% 14%, 4% 0%);
  clip-path: polygon(100% 0, 100% 100%, 4% 100%, 4% 27%, 0 21%, 4% 14%, 4% 0%);
}


.btn-group{
  //display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.btn{

  padding: .6rem 2rem;
  text-transform: uppercase;
  font-sixze: 1.2rem;
  font-weight: 600;
  border-radius: 3px;
  border: 2px solid #3E9CE6;

  &:not(:last-child){
    margin-right: 1.5rem;
  }

  &--save{
    background-color: #3E9CE6;
    color: white;
  }

  &--cancel{
    background-color: white;
    color: #3E9CE6;
  }
}

