@media screen and (max-width: 928px) and (min-width: 600px){
  .nav{
    border-top: 1.5px solid #ecf1f5;


    &__item{
      padding: 0 .5rem;
    }


    &__followers{
      margin-right: .5rem;
      margin-left: 20rem;
      margin-top: .9rem;

      &-icon{
        margin-right: .5rem;
      }
    }
  }
}

@media screen and (max-width: 37.5em){

  .header{
    background-color: #F4F8F9;
  }


  .logout{
    //display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 1.5rem;

    &__button{

      &:link, &:visited{
        padding: .8rem 2.5rem;
        border: none;
        outline: none;
        color: #3E9CE6;
        font-weight: 600;
        font-size: 1.4rem;
      }
    }
  }

  .upload{
    display: none;
  }

  .user{
    display: block;
    padding: 0 2.5rem;
    margin-top: 0;

    &__details-wrapper{
      display: block;
      justify-content: space-between;
      align-items: center;
      padding-left: 0rem;
      color: #8b8b8b;
    }

    &__photo-box{
      width: 15rem;
      height: 15rem;
      margin: auto auto 2rem auto;
      background-image: url("../img/profile_image.jpg");
      background-size: 230%;
      background-position: top right -6.8rem;
      transform: translateY(0);
      box-shadow: 0 10px 40px 0 rgba(0,0,0,0.2);
    }

    &__details{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    &__name{
      font-size: 2rem;
      margin-bottom: 1.2rem;
      text-align: center;
    }

    &__location{
      font-size: 1.4rem;
      margin-bottom: 1rem;
      order: 3;

      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;

      &-icon{
        padding-right: .4rem;
        font-size: 2rem;
      }

      &-text{

      }
    }

    &__phone{
      font-size: 1.4rem;
      margin-bottom: 1rem;

      //display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;

      &-icon{
        padding-right: .4rem;
        font-size: 2rem;
      }

      &-text{

      }
    }

    &__rate{
      display: block;
      justify-content: space-between;
      align-items: center;
    }

    &__rate-icon{

      margin-bottom: .7rem;
      & .icon{
        font-size: 2.5rem;
        color: #3E9CE6;
      }

    }

    &__rate-review{
      font-size: 1.6rem;
      word-spacing: 1rem;
      margin-left: 0;
    }
  }

  .nav{
    border-top: none;
    //display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    //flex-direction: column-reverse;

    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;

    align-items: center;
    justify-content: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    &__list{
      margin-left: 0;
      //display: flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: nowrap;
      //align-self: stretch;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      background-color: white;

      overflow: hidden;
    }

    &__item{
      padding: 0 1.5rem;
    }

    &__link{

      &:link, &:visited{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 600;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        color: #717579;
      }

      &--active{
        border-bottom: 1.5px solid #3E9CE6;
      }
    }

    &__followers{
      font-size: 1.4rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      align-items: center;
      -webkit-align-self: left;
      -ms-flex-item-align: left;
      align-self: left;
      margin-left: 0;
      padding: 1.5rem 0 1.5rem 2.5rem;

      &-icon{
        color: #b6b6b6;
        font-size: 2.5rem;
        margin-right: 1rem;
      }

      &-text{
      }
    }
  }


  .content{
    margin-top: 2rem;
    min-height: 50rem;
    background-color: white;
    padding: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }


  .heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    align-items: center;

    &__text{
      padding-bottom: 0;
      font-size: 1.8rem;
      font-weight: 400;
    }

    &__edit-icon{
      display: inline-block;
      padding: .5rem .9rem;
      font-size: 1.4rem;
      background-color: #ecf1f5;

      &:hover{
        background-color: #3E9CE6;
        color: #ffffff;
        transition: all .2s;
      }

    }

    &__list{
      display: none;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
    }

    &__item{
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      list-style: none;
    }

    &__link{
      text-decoration: none;
      padding: 2rem;
      font-size: 1.6rem;
      text-transform: uppercase;
    }
  }

  .about{

    &__item{

      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      & .icon{
        font-size: 2rem;
        background-color: transparent;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content:center;
        align-items: center;
        padding-left: .5rem;
        margin-right: .5rem;

      }

      & .ion-edit{
        display: none;
      }

      &-name{
        font-size: 1.8rem;
        font-weight: 600;
        padding: 0;
        background-color: transparent;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content:center;
        align-items: center;
      }

      &-phone, &-site, &-location{
        background-color: transparent;
      }
    }
  }

}

.form{

  &__group{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
  }

  &__group:not(:last-child){
    margin-bottom: 2rem;
  }

  &__input{
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: .5rem 0rem;
    border-radius: 2px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #eee;
    width: 100%;
    display: block;
    transition: all .3s;

    &:focus{
      outline: none;
      box-shadow: 0 1rem 2rem rgba(#000, .1);
      border-bottom: 3px solid #3E9CE6;

      &::-webkit-input-placeholder { color:transparent; }
      &:-moz-placeholder { color:transparent; }
      &::-moz-placeholder { color:transparent; }
      &:-ms-input-placeholder { color:transparent; }
    }

    &::-webkit-input-placeholder{
      color: #777;
      text-transform: uppercase;
    }
  }

  &__label{
    font-size: 1.2rem;
    display: block;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(3.5rem);
  }

  &__input:focus + &__label, &__input:not(:placeholder-shown) + &__label{
    opacity: 1;
    visibility: visible;
    transform: translateY(-.2rem);
    font-size: 1.2rem;
  }
}