.header {
  background-color: #fff; }

.logout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 2rem; }
  .logout__button:link, .logout__button:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: .8rem 2.5rem;
    border: 1px solid #3E9CE6;
    color: #3E9CE6;
    margin-left: auto;
    border-radius: 3px;
    font-weight: 600; }

.upload {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cecdcd;
  margin-bottom: 1rem; }
  .upload__button {
    border: 1.5px solid #cecdcd;
    font-size: 1.4rem;
    font-weight: 600;
    padding: .1rem 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px; }
    .upload__button > span {
      font-size: 2.5rem;
      margin-right: 2.5rem; }

.user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
  margin-top: -4rem; }
  .user__details-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 2.5rem;
    color: #8b8b8b;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: flex-end;
    align-self: flex-end; }
  .user__photo-box {
    width: 18rem;
    height: 18rem;
    background-image: url("../img/profile_image.jpg");
    background-size: 175%;
    background-position: top right -4rem;
    transform: translateY(3.5rem);
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3); }
  .user__name {
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .user__location {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    order: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
    .user__location-icon {
      padding-right: .4rem;
      font-size: 2rem; }
  .user__phone {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
    .user__phone-icon {
      padding-right: .4rem;
      font-size: 2rem; }
  .user__rate {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: flex-start;
    align-self: flex-start; }
  .user__rate-icon .icon {
    font-size: 2rem; }
  .user__rate-review {
    font-size: 1.4rem;
    word-spacing: 1rem;
    margin-left: 2.5rem; }

.nav {
  border-top: 1.5px solid #ecf1f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .nav__list {
    margin-left: 20rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    overflow: hidden; }
  .nav__item {
    padding: 0 3rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    color: #717579; }
  .nav__link--active {
    border-bottom: 1.5px solid #3E9CE6; }
  .nav__followers {
    font-size: 1.4rem;
    margin-right: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav__followers-icon {
      color: #b6b6b6;
      font-size: 2.5rem;
      margin-right: 1rem; }

.content {
  margin-top: 3rem;
  height: 50rem;
  background-color: white;
  padding: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.heading__list {
  display: none; }

.heading__text {
  padding-bottom: 3rem;
  font-size: 1.8rem;
  font-weight: 400; }

.heading__edit-icon {
  display: none; }

.about {
  position: relative; }
  .about__list {
    list-style: none;
    display: block;
    color: #5f6467; }
  .about__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: .1rem; }
    .about__item .icon {
      font-size: 2rem;
      background-color: #f5f7f9;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: .5rem; }
    .about__item .ion-edit {
      font-size: 1.8rem;
      padding: 1rem 1.2rem;
      background-color: #e6ebf0; }
      .about__item .ion-edit:hover {
        background-color: #3E9CE6;
        color: #ffffff;
        transition: all .5s; }
    .about__item-name {
      font-size: 1.4rem;
      font-weight: 600;
      padding: .1rem 2rem .1rem .6rem;
      background-color: #f5f7f9;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center; }
    .about__item-phone, .about__item-site, .about__item-location {
      font-size: 1.4rem;
      padding: .1rem 1.2rem .1rem .5rem;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f7f9; }

.form {
  display: none; }

.popup {
  background-color: #cccccc;
  -moz-box-shadow: 0 0 4rem #ccc;
  -webkit-box-shadow: 0 0 4rem #ccc;
  box-shadow: 0 0 4rem #ccc;
  display: none;
  position: absolute; }

.popup-form {
  margin-left: -1.4rem;
  display: block;
  background-color: white;
  width: 35rem;
  padding: 2.3rem 2rem 2rem 4rem;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 4% 100%, 4% 27%, 0 21%, 3% 14%, 4% 0%);
  clip-path: polygon(100% 0, 100% 100%, 4% 100%, 4% 27%, 0 21%, 4% 14%, 4% 0%); }

.btn-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.btn {
  padding: .6rem 2rem;
  text-transform: uppercase;
  font-sixze: 1.2rem;
  font-weight: 600;
  border-radius: 3px;
  border: 2px solid #3E9CE6; }
  .btn:not(:last-child) {
    margin-right: 1.5rem; }
  .btn--save {
    background-color: #3E9CE6;
    color: white; }
  .btn--cancel {
    background-color: white;
    color: #3E9CE6; }

@media screen and (max-width: 928px) and (min-width: 600px) {
  .nav {
    border-top: 1.5px solid #ecf1f5; }
    .nav__item {
      padding: 0 .5rem; }
    .nav__followers {
      margin-right: .5rem;
      margin-left: 20rem;
      margin-top: .9rem; }
      .nav__followers-icon {
        margin-right: .5rem; } }

@media screen and (max-width: 37.5em) {
  .header {
    background-color: #F4F8F9; }
  .logout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 1.5rem; }
    .logout__button:link, .logout__button:visited {
      padding: .8rem 2.5rem;
      border: none;
      outline: none;
      color: #3E9CE6;
      font-weight: 600;
      font-size: 1.4rem; }
  .upload {
    display: none; }
  .user {
    display: block;
    padding: 0 2.5rem;
    margin-top: 0; }
    .user__details-wrapper {
      display: block;
      justify-content: space-between;
      align-items: center;
      padding-left: 0rem;
      color: #8b8b8b; }
    .user__photo-box {
      width: 15rem;
      height: 15rem;
      margin: auto auto 2rem auto;
      background-image: url("../img/profile_image.jpg");
      background-size: 230%;
      background-position: top right -6.8rem;
      transform: translateY(0);
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2); }
    .user__details {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    .user__name {
      font-size: 2rem;
      margin-bottom: 1.2rem;
      text-align: center; }
    .user__location {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      order: 3;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center; }
      .user__location-icon {
        padding-right: .4rem;
        font-size: 2rem; }
    .user__phone {
      font-size: 1.4rem;
      margin-bottom: 1rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center; }
      .user__phone-icon {
        padding-right: .4rem;
        font-size: 2rem; }
    .user__rate {
      display: block;
      justify-content: space-between;
      align-items: center; }
    .user__rate-icon {
      margin-bottom: .7rem; }
      .user__rate-icon .icon {
        font-size: 2.5rem;
        color: #3E9CE6; }
    .user__rate-review {
      font-size: 1.6rem;
      word-spacing: 1rem;
      margin-left: 0; }
  .nav {
    border-top: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
    .nav__list {
      margin-left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: nowrap;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      background-color: white;
      overflow: hidden; }
    .nav__item {
      padding: 0 1.5rem; }
    .nav__link:link, .nav__link:visited {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 600;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 0;
      color: #717579; }
    .nav__link--active {
      border-bottom: 1.5px solid #3E9CE6; }
    .nav__followers {
      font-size: 1.4rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      align-items: center;
      -webkit-align-self: left;
      -ms-flex-item-align: left;
      align-self: left;
      margin-left: 0;
      padding: 1.5rem 0 1.5rem 2.5rem; }
      .nav__followers-icon {
        color: #b6b6b6;
        font-size: 2.5rem;
        margin-right: 1rem; }
  .content {
    margin-top: 2rem;
    min-height: 50rem;
    background-color: white;
    padding: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    align-items: center; }
    .heading__text {
      padding-bottom: 0;
      font-size: 1.8rem;
      font-weight: 400; }
    .heading__edit-icon {
      display: inline-block;
      padding: .5rem .9rem;
      font-size: 1.4rem;
      background-color: #ecf1f5; }
      .heading__edit-icon:hover {
        background-color: #3E9CE6;
        color: #ffffff;
        transition: all .2s; }
    .heading__list {
      display: none;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch; }
    .heading__item {
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      list-style: none; }
    .heading__link {
      text-decoration: none;
      padding: 2rem;
      font-size: 1.6rem;
      text-transform: uppercase; }
  .about__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 2rem; }
    .about__item .icon {
      font-size: 2rem;
      background-color: transparent;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: .5rem;
      margin-right: .5rem; }
    .about__item .ion-edit {
      display: none; }
    .about__item-name {
      font-size: 1.8rem;
      font-weight: 600;
      padding: 0;
      background-color: transparent;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center; }
    .about__item-phone, .about__item-site, .about__item-location {
      background-color: transparent; } }

.form__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column-reverse; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: .5rem 0rem;
  border-radius: 2px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #eee;
  width: 100%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #3E9CE6; }
    .form__input:focus::-webkit-input-placeholder {
      color: transparent; }
    .form__input:focus:-moz-placeholder {
      color: transparent; }
    .form__input:focus::-moz-placeholder {
      color: transparent; }
    .form__input:focus:-ms-input-placeholder {
      color: transparent; }
  .form__input::-webkit-input-placeholder {
    color: #777;
    text-transform: uppercase; }

.form__label {
  font-size: 1.2rem;
  display: block;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(3.5rem); }

.form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label {
  opacity: 1;
  visibility: visible;
  transform: translateY(-0.2rem);
  font-size: 1.2rem; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f3f8f9;
  font-family: 'Open Sans', sans-serif; }

.container {
  max-width: 114rem;
  margin: 5rem auto auto auto; }

@media only screen and (max-width: 37.5em) {
  .container {
    width: 100%;
    margin: auto; } }
